<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434781259509-4275mehpkb75iugo6ncado9qknbq6u3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434781259509-4275mehpkb75iugo6ncado9qknbq6u3v</string>
	<key>API_KEY</key>
	<string>AIzaSyC1cr0JmarD7HAhM5uAYRRuz67zCpySjzc</string>
	<key>GCM_SENDER_ID</key>
	<string>434781259509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.onezero</string>
	<key>PROJECT_ID</key>
	<string>test-7c593</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7c593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434781259509:ios:a0d651de10eb4c8fc067bc</string>
</dict>
</plist>